*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
*.keystore

# Android Studio / IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# OS generated
.DS_Store
Thumbs.db
